.mainContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 22px;
}
.addressContainer {
}
.addressContainer h2 {
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.telContainer {
  margin: 5px 0 0 0;
}
.telContainer p a {
  color: gray;
  text-decoration: none;
  font-size: 14px;
}
.firstNum {
  margin-bottom: 5px;
}
.address p {
  color: gray;

  font-size: 14px;
}
.mapContainer {
  background-color: green;
}

/* Responsive Styles */
@media (max-width: 1240px) {
  .mainContainer {
    grid-template-columns: 1fr;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 22px;
  }
  .addressContainer {
    margin-bottom: 15px;
  }
}
