.mainHero {
  height: 60vh;
  background: url("../../assets/images/house.jpeg") center center/cover
    no-repeat;
  background-attachment: fixed;
  position: relative;
}

.inputContainer {
  position: absolute;
  bottom: 5%;
  left: 42%;
}

.inputContainer li {
  display: inline-block;
  margin-right: 0.5rem;
}

.inputContainer li input {
  cursor: pointer;
}

.titles {
  position: absolute;
  bottom: 150px;
  left: 18rem;
}
.titles h2 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-width: bold;
}
.btn {
  position: absolute;
  bottom: 0;
  left: 18rem;
}
.btn button {
  padding: 20px;
  outline: none;
  border: none;
  background-color: #9b0900;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (max-width: 1240px) {
  .btn {
    display: none;
  }
  .titles {
    display: none;
  }
}
