.mainHero {
  max-width: 120rem;
  width: 100%;
  height: 36.18rem;

  background: url("../../assets/images/house.jpeg") center center/cover
    no-repeat;
  background-color: rgba(0, 0, 0, 1);
  background-attachment: fixed;
  position: relative;
}
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
} */

.inputContainer {
  position: absolute;
  width: 84px;
  height: 12px;
  top: 545px;
  left: 918px;
  gap: 0px;
  opacity: 0px;

  /* bottom: 5%;
  left: 42%; */
}

.inputContainer li {
  display: inline-block;
  margin-right: 0.5rem;
}

.inputContainer li input {
  cursor: pointer;
}

.titles {
  width: 22.563rem;
  position: absolute;
  top: 14.563rem;
  left: 150px;
}
.titles h2 {
  font-family: Gotham;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.6rem;
  letter-spacing: 0.1em;
  text-align: left;

  color: white;
  text-transform: uppercase;
}
.btn {
  position: absolute;
  width: 22.813rem;
  height: 5.5rem;
  background-color: #9b0900;
  top: 30.68rem;
  left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn button {
  /* padding: 20px 70px; */
  font-family: Gotham;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
  background-color: #9b0900;
  outline: none;
  border: none;

  text-transform: uppercase;
  cursor: pointer;
}
@media screen and (max-width: 1240px) {
  .btn {
    display: none;
  }
  .titles {
    display: none;
  }
}
