/* Navbar styles */

.navbar {
  /* height: 64px; */
  max-width: 1920px;
  width: 100%;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.log {
  width: 16rem;
}
.navbar ul {
  /* width: 553px; */
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 3.3rem;
  margin-right: 3.3rem;
}

.navbar ul li {
  position: relative;
  width: 4rem;
}

.navbar ul li a {
  text-decoration: none;
  /* padding: 0.5rem 1rem; */
  display: block;
  text-size: 1rem;
  line-height: 1.2rem;
}

.navbar ul li a:hover {
  color: var(--active);
}

.contactBox {
  width: 10rem;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2px;
  cursor: pointer;
}
.contactBox p a {
  text-decoration: none;
  color: var(--black);
}
.icons {
  width: 3.75rem;
  margin-right: 0.6rem;
  align-self: flex-end;
  display: flex;
  color: #44392e;
}
.icon {
  margin: 4.6px 3.46px 0 0;
  font-size: 0.75rem;
}
.navMobile {
  display: none;
}
/* Responsive Styles */

.navbar .closeIcon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
@media (max-width: 1240px) {
  .navbar,
  .hr {
    display: none;
  }
}

border: 2px solid #44392e;
